/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */

/*
 * Standard styling for buttons created by goog.ui.FlatMenuButtonRenderer.
 *
 * @author attila@google.com (Attila Bodis)
 * @author tlb@google.com (Thierry Le Boulenge)
 */


.goog-flat-menu-button {
  background-color: #002b36; /* base03 */
  border: 1px solid #134569; /* faded-blue */
  color: #268bd2;
  cursor: pointer;
  font: normal 95%;
  list-style: none;
  margin: 0 2px;
  outline: none;
  padding: 1px 4px;
  position: relative;
  text-decoration: none;
  vertical-align: middle;
}

.goog-flat-menu-button-disabled * {
  border-color: #ccc;
  color: #999;
  cursor: default;
}

.goog-flat-menu-button-hover {
  border-color: #268bd2 !important; /* Hover border wins. */ /* blue */
}

.goog-flat-menu-button-active {
  background-color: #134569; /* faded-blue */
  background-position: bottom left;
}

.goog-flat-menu-button-focused {
  border-color: #134569; /* faded-blue */
}

.goog-flat-menu-button-caption {
  padding-right: 10px;
  vertical-align: top;
}

.goog-flat-menu-button-dropdown {
  /* Client apps may override the URL at which they serve the sprite. */
  //background: url(//ssl.gstatic.com/editor/editortoolbar.png) no-repeat -388px 0;
  position: absolute;
  right: 2px;
  top: 0;
  vertical-align: top;
  width: 7px;
}
